.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  nav{
    // display: none;
    ul{
      display: flex;
      text-decoration: none;
      justify-content: space-around;
      li{
        text-decoration: none;
        a{
          text-decoration: none;
          transition: 500ms ease-in-out;
          border-bottom: 0px solid;
        }
        a:hover{
          border-bottom: 1px solid blue;
        }
      }
    }
  }
}

form{
  display: grid;
  margin: 0px 2%;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 30px 30px;
  justify-content: center;
  gap: 5px;
}

.search-form{
  padding: 5px;
  border: none;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  // border-bottom: 0px solid;
  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
}
.date-search{
  display: flex;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}



.submit{
  background-color: aliceblue;
  border: 1px solid rgb(163, 168, 173);
  padding: 5px 10px;
  display: inline-block;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.dropdown{
  position: relative;
  display: inline-block;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  .dropbtn{
    background-color: aliceblue;
    border: 1px solid rgb(163, 168, 173);
    padding: 5px 10px;
    width: 100%;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background: #effbff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 300ms ease-in-out;
    a{
      text-decoration: none;
      transition: 400ms;
      color: rgb(0, 0, 0);
      text-align: left;
      padding: 5px;
    }
    a:hover{
      background-color: #b4cbd2;
    }
  }
}
.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
}

.grid{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  .grid_item{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
			flex-direction: row;
		}
    padding: 40px 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(71, 47, 46);

    .article_copy{
      text-align: left;
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 40%;
      }
      .link{
        font-weight: 700;
        font-size: 1rem;
      }
      .tags{
        a{
          text-decoration: none;
          color: gray;
        }
        padding: 5px 10px;
        background-color: rgb(230, 230, 230);
        border-radius: 10px;
        width: fit-content;
      }
      .byline{
        font-weight: 700;
        font-size: .8rem;
      }
      
    }
    .grid-img{
      width: 80%;
      align-self: center;
      @media screen and (min-width: 768px) {
        width: 40%;
      }
      
    }
  }
  
}

